p{
	padding:5px;
	color:rgb(255, 255, 255);
	font-size: 1.25rem;
	width: 50vw;
    float:left;
}
a{
	color:rgb(255,255,255);
	font-family: 'Times New Roman', Times, serif;
}
.container{
	min-height: 90vh;
	background: none;
	display:flex;
	justify-content: center;
	align-items: center;
	/* flex-direction: column; */
	padding: 20px;
	/* margin: 50px auto; */
}
.container form{
	width:670px;
	height:600px;
	display: flex;
	margin-bottom: 5px;
	justify-content: left;
	padding: 20px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.758);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	flex-wrap: wrap;
}
body{
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding :0;
}
label{
	color: #fff;
	display: block;
	font-size: 1.40rem;
	margin-bottom: 30px;
}
input,textarea{
	width: 130%;
	padding: 10px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 30px;
}
input[type="submit"]{
	cursor: pointer;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border: 5px;
	margin-top: 100px;
	justify-content: center;
}
input[type="submit"]:hover{
	background-color: #000000;
	align-items: center;
}

